{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Select a resource type from the list below for the corresponding dashboard."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-body" data-testid="app-page-body">
        <main class="govuk-main-wrapper ">
            <div class="govuk-grid-row">
              
              <div class="govuk-grid-column-one-half portal-card" data-testid="monitoring-item">
                <a href="../db-monitoring/" class="portal-card-link">
                  <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title" data-testid="monitoring-item-title">DB Monitoring</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <p class="govuk-body-s" data-testid="monitoring-item-description">
                        Database performance and import monitoring
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              
              <div class="govuk-grid-column-one-half portal-card" data-testid="monitoring-item">
                <a href="../s3-monitoring/" class="portal-card-link">
                  <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title" data-testid="monitoring-item-title">S3 Monitoring</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <p class="govuk-body-s" data-testid="monitoring-item-description">
                        S3 folder and file monitoring
                      </p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="govuk-grid-column-one-half portal-card" data-testid="monitoring-item">
                <a href="../sqs-monitoring/" class="portal-card-link">
                  <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title" data-testid="monitoring-item-title">SQS Monitoring</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <p class="govuk-body-s" data-testid="monitoring-item-description">
                        Message queue and DLQ monitoring
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              
            </div>
        </main>
      </div>
    </div>
  </div>

{% endblock %}
