{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "cads-admin"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          Use CADS ADMIN MONITORING service to view CADS system information, infrastructure status and resources.
        </p>
        {% if not isAuthenticated %}
        <a href="/login" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Sign in
        </a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
